body
{
    
    background-color: lemonchiffon;
    color:black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    font-weight: 700;
}

img
{
    width: 520px;
    height: 325px;
}
a
{
display: block;
}

h4
{
    font-family:'Times New Roman', Times, serif;
    font-size: xx-large;
}

.imageRandom
{
    width: 128px;
    height: 128px;
}
.container{
    max-width: 1000px;
    margin: 0 auto;
}


.start__block{
   text-align: center;  
}

h1
{
    font-family: 'Noto Serif JP', serif;
    font-size: 50pt;
}
.information__block{
    font-family: 'Noto Serif JP', serif;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}


.information__block-text{
    font-family: 'Noto Serif JP', serif;
    max-width: 400px;
    margin-left: 30px;
}

h2.start__block-subtitle
{
    font-family: 'Noto Serif JP', serif;
}

.start__block-text
{
    font-family: 'Noto Serif JP', serif;
}

a
{
    font-family: 'Birthstone', cursive;
}

.containerList
{
    display: flex;
  align-items: center;
  justify-content: center;

}

li
{
    font-family: 'Birthstone', cursive;
}

.gifRandom 
{
    width: 512x;
    height: 256px;
} 

.Video
{
    
width: 1000px;
height: max-content;
}